body{
  margin: 0;
  padding: 0;
  background-image: url(./gifs/background.jpg);
  background-repeat: no-repeat;
  background-position: top ;
  height: 100%;
}


#head{
  display: flex;
  justify-content: center;
  margin: 10% 0;
  border-radius: 20px;
  
}
#first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
#first header{
  margin: 30px;
  font-size: 4em;
  text-align: center;
}
#first .highest{
  font-size: 1.5rem;
}
#first button{
  font-size: 1.5em;
  padding: 5px 30px;
  margin: 20px;
  background-color: black;
  color: orangered;
  border-radius: 10px;
}

#play-page{
  display: none;
}
.play-title{
 font-size: 2.5rem;
 color: black;
 display: flex;
 justify-content: center;
}

#game {
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 20px 15%;
   padding: 2%;
 }

 #game div {
   width: 150px;
   height: 150px;
   margin: 10px;
   display: inline-block;
   background: rgb(238, 163, 129) ;
   border-radius: 10px;
   cursor: pointer;
 }

 .imageClass {
   width: 100%;
   height: 100%;
   display: none;
   border: 2px solid ;
   border-radius: 10px;
 }

 .resultContainer {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin: 2% auto;
 }
  .resultContainer h2{
    color: orangered;
  }
 .resultContainer a{
  text-decoration: none;
 }
 .resultContainer button{
  font-size: 1.2em;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid orangered;
  cursor: pointer;
 }

 @media (max-width : 1200px){
  #game{
    margin: auto;
  }
  #game div{
    width: 100px;
    height: 100px;
  }
 }

 @media (max-width : 900px){

  #game div{
    width: 50px;
    height: 50px;
  }
 }